@import "../../uiframe/bootstrap4/css/bootstrap.min.css";
@import "../../fonts/font-awesome-4.7.0/css/font-awesome.min.css";
@import "../../img/favicon.ico";
body{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;}
@media (min-width: 1200px){.container {max-width: 1200px;}}
@media (max-width: 768px){.container {padding: 0;}}
.text-gray{color: #777;font-size: 14px;}
.text-small{font-size: small;}
.img-sm-head{border-radius: 50%;width: 45px;height: 45px;margin-left: -10px;}
.bpj {max-width: 90px;margin-top: -65px;margin-bottom: 5px;border: 3px solid #fff;border-radius: 100%;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);}